.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}

cite {
    font-style: italic;
    float: right;
}